<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sj.mapper.main.role.RoleMapper">
    <resultMap id="selectRoleResult" type="com.sj.domain.role.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="roleName"/>
    </resultMap>

    <select id="findRoleByRoleName" resultMap="selectRoleResult">
        SELECT * FROM tab_role where roleName=#{roleName} limit 1;
    </select>
</mapper>